/* Navigation Section */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* Home Section */
#home{
height: 300px;
padding: 3px 70px;

}
#home::before{
height: 350px;
}
#home p{
    font-size: 15px;
}

/* Services Section */
#services{
flex-direction: column;
}
#services .box{
padding: 20px;
margin: 2px 0px;
border-radius: 35px;
background-color: white;
margin-bottom: 20px;
border: 2px solid hotpink;
}

/* Client Section */
#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 50px;
    height:auto;
    padding: 2px 9px;
}

/* Contact us section */
#contact-box form{
    width: 80%;
}
/* Footer */

/* Utlity Classes */
.h-primary{
    font-size: 30px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}